<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
	<clear/>
    <add connectionString="Data Source=stddb2023.mahidol;Initial Catalog=Infinity;Persist Security Info=True;User ID=Transcript;Password=TransCriPt#2023#;Connect Timeout=0" name="eStudentConn"/>
    <!--<add connectionString="Data Source=10.90.101.101;Initial Catalog=Infinity;Persist Security Info=True;User ID=MuStudent53;Password=oydL7dKk56;Connect Timeout=0" name="eStudentConn"/>-->
    <!--<add connectionString="Data Source=smartdev-write.mahidol;Initial Catalog=Infinity;Persist Security Info=True;User ID=Jate;Password='vpjk0y[8;pso^';Connect Timeout=0" name="eStudentConn"/>-->
  </connectionStrings>
  <appSettings>
    <add key="finService.finservice" value="https://smartedu.mahidol.ac.th/finService/finservice.asmx"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".less"/>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <!--<httpModules>
      <add name="CheckAuthorize" type="CheckAuthorize"/>
    </httpModules>-->
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>